{% extends 'base.html' %}

{% block title %}
 <title>Hello - Please Stay</title>
{% endblock title %}


{% block content %}

{# Table link: https://getbootstrap.com/docs/4.6/content/tables/ #}
{# We take the top row of the table to create static headers and the rest is inputted in the for loop #}
  <div class="container">
  </br>

  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
  {% endif %}
  <form method = "POST">
    {% csrf_token %}
    <div class="form-group">
      <!-- <label for="exampleInputEmail1">Email address</label> -->
     
      <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> </input> -->
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      <!-- <label>Add Task</label> -->
      <input type="text" class="form-control" name="task" placeholder="New Task?">
    </div>
  <!-- {#  <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> }% -->
    <button type="submit" class="btn btn-primary">Add Task</button>
  </form>
  </br>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Task</th>
          <th scope="col">Done</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <!-- Adding this "if" statement to validate content -->
      {% if all_tasks %}
          {% for obj in all_tasks %}
              {% if obj.done %}
              <tr class="table-success">
                <!-- {# <th scope="row">1</th> #} Search for video adding table success and if statement -->
                  <td>{{obj.task}}</td>
                  <td>Completed</td>
                  <!-- <td>{{obj.done}}</td> -->
                  <td>Edit</td>
                  <td>Delete</td>
              </tr>
              {% else %}
              <tr>
                <td>{{obj.task}}</td>
                <td>Not Completed</td>
                <!-- <td>{{obj.done}}</td> -->
                <td>Edit</td>
                <td>Delete</td>
              </tr>
              {% endif %}
          {% endfor %}
      {% endif %}
      </tbody>
    </table>
  </div>`
{% endblock content %}



